$vert : #4e6131; 
$jaune : #f9d013; 

div.filtre_vert{
	background-color: $vert;
}

div.cadre_jaune_menu{
	background-color: $jaune;
}

@font-face {
	font-family: 'Vegur';
	src: url('../fonts/Vegur-Regular-webfont.woff') format('woff');
	font-style: normal;
}
@font-face {
	font-family: 'VegurBold';
	src: url('../fonts/Vegur-Bold-webfont.woff');
	font-weight: bold;
}
body { 
	font-family: Vegur; 
}

.menu1, .menu2{
	display: inline-flex;
}

.menu2{
	justify-content: flex-end;
}
